/*
Arc-Dark Color Scheme
*/

@define-color highlight #d2d8d9;
@define-color base1  #2b2c2e;
@define-color base2  #2b2c2e;
@define-color base3  #2b2c2e;


*{
    font-family: 'Fira Code';
}

#window {
	  border: 1px solid @highlight;
    margin: 0px 5px 0px 5px;

}

#inner-box {
    background-color: @base2;

}

#outer-box {
  margin: 5px;
  padding:10px;
  background-color: @base2;
	margin-top: -22px;
}

#scroll {
}

#text {
padding: 5px;
color: white;
}

#entry:nth-child(even){
    background-color: @base1;
}

#entry {
    background-color: @base3;
}

#entry:selected {
    background-color: @highlight;
    color : @base1;
}

#text:selected {
	color:@base1;

}
